@model la_mia_pizzeria_static.Models.PizzaContext;


<body>
    <h2 class="row">@Html.ActionLink("Aggiungi una Pizza", "CreatePizza", "Pizza")</h2>
    <div class="row">
        @foreach (var pizza in Model.Pizze)
        {
            <div class="col-12 col-sm-6 col-md-3 mb-2">
                <div class="card h-100">
                    <div class="card-img-top">
                        <img src="~/img/@pizza.ImgPath" alt="@pizza.Name">
                    </div>
                    <div class="card-body w-100">
                        <h5 class="card-title">@pizza.Name</h5>
                        <p class="card-text">"@pizza.Description"</p>
                        <p>@pizza.Price &euro;</p>
                    </div>
                    <div class="card-footer">
                        <button class="btn-primary btn">@Html.ActionLink("Seleziona", "ShowPizza", "Pizza", new {id = pizza.Id}, new { @class = "text-light text-decoration-none"})</button>
                        <button class="btn-warning btn">@Html.ActionLink("Modifica", "UpdatePizza", "Pizza", new {id = pizza.Id}, new { @class = "text-light text-decoration-none"})</button>
                        <button class="btn-danger btn">@Html.ActionLink("Elimina", "Delete", "Pizza", new {id = pizza.Id}, new { @class = "text-light text-decoration-none"})</button>
                    </div>
                </div>
            </div>
        }
    </div>
</body>
